<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5PQTMV3');
    </script>
    <!-- End Google Tag Manager -->
  
    <title>{{ page.title }} | {{ site.title }}</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6/css/all.min.css">
  
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" -->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/webp">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@noflm_IA">
    <meta name="twitter:creator" content="@nofl_IA">
  
    <!-- Shared social media -->
    {% if page.share_title %}
      <meta property="og:title" content="{{ page.share_title }}">
      <meta name="twitter:title" content="{{ page.share_title }}">
    {% elsif page.title %}
      <meta property="og:title" content="{{ page.title | replace: '&nbsp;', ' ' | strip_html }}">
      <meta name="twitter:title" content="{{ page.title | replace: '&nbsp;', ' ' | strip_html }}">
    {% else %}
      <meta property="og:title" content="{{ site.data.meta.title }}">
      <meta name="twitter:title" content="{{ site.data.meta.title }}">
    {% endif %}
  
    {% if page.share_description and  page.layout != 'post'%}
      <meta property="og:description" content="{{ page.share_description }}">
      <meta name="twitter:description" content="{{ page.share_description }}">
      <meta name="description" content="{{ page.share_description }}">
    {% elsif page.layout == 'post' %}
      <meta property="og:description" content="{% if page.share_description %}{{ page.share_description }}{% else %}{{ page.content | strip_html | truncate: 400, '…' }}{% endif %}">
      <meta name="twitter:description" content="{% if page.share_description %}{{ page.share_description }}{% else %}{{ page.content | strip_html | truncate: 400, '…' }}{% endif %}">
      <meta name="description" content="{% if page.share_description %}{{ page.share_description }}{% else %}{{ page.content | strip_html | truncate: 400, '…' }}{% endif %}">
    {% else %}
      <meta property="og:description" content="{{ site.description }}">
      <meta name="twitter:description" content="{{ site.description }}">
      <meta name="description" content="{{ site.description }}">
    {% endif %}
  
    {% if page.share_image and  page.layout != 'post'%}
      <meta property="og:image" content="{{ site.cdn_url }}/images/{{ page.share_image }}">
      <meta name="twitter:image" content="{{ site.cdn_url }}/images/{{ page.share_image }}">
    {% elsif page.layout == 'post' %}
      <meta property="og:image" content="{%if page.share_image%} {{ site.cdn_url }}/images/{{ page.share_image }} {% else %} {{ site.cdn_url }}/images/noflm.cc_OGP.webp {% endif %}">
      <meta name="twitter:image" content="{%if page.share_image%} {{ site.cdn_url }}/images/{{ page.share_image }} {% else %} {{ site.cdn_url }}/images/noflm.cc_OGP.webp {% endif %}">
    {% else %}
      <meta property="og:image" content="{{ site.cdn_url }}/images/noflm.cc_OGP.webp">
      <meta name="twitter:image" content="{{ site.cdn_url }}/images/noflm.cc_OGP.webp">
    {% endif %}

  
    <meta name="theme-color" content="#ff6d9a">
</head>